nav {
  background-color: rgb(254, 253, 253);
  box-shadow: 3px 3px 5px rgba($color: #a2a2a2, $alpha: 0.2);
  position: sticky;
  top: 0;
}

nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 35px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}