<div class="general-template">
  <header class="form-header-container">
    <app-header />
    <section class="form-header-container-text">
      <h2>Join thousands of learners from around the world </h2>
      <p class="description-text">Master web development by making real-life projects. There are multiple paths for you to choose</p>
    </section>
  </header>
  <section class="container form-container">
    <app-input placeholder="Name" [icon]="faEnvelope" class=""/>
    <app-input placeholder="Password" [icon]="faLock"/>
    <button class="start-button mt6">Start coding now </button>
  </section>
  <footer>
    <p>or continue with these social profile</p>
    <div class="social-media-container">
      <app-button [icon]="faGoogle"></app-button>
      <app-button [icon]="faEnvelope"></app-button>
      <app-button [icon]="faEnvelope"></app-button>
      <app-button [icon]="faEnvelope"></app-button>
    </div>
    <p class="">
      {{copyText.member}}
      <a routerLink="/login">Login</a>
    </p>
  </footer>
</div>
<app-author-sign />